# Enrich data base with scraping

### EDUCATIONAL DATA (Creativity index)

In [3]:
# Import libraries
import pandas as pd
import re
import requests as req
from bs4 import BeautifulSoup as bs
import json
import warnings
warnings.simplefilter('ignore')
from sqlalchemy import create_engine

In [4]:
url = 'http://chartsbin.com/view/41109'

In [5]:
html=req.get(url).content

In [6]:
soup=bs(html, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [7]:
tabla=soup.find('table')

type(tabla)

bs4.element.Tag

In [8]:
filas=tabla.find_all('tr')

elementos=[[e.text for e in fila] for fila in filas]
elementos[:5]

[['Rank',
  'Country',
  'Technology',
  'Talent',
  'Tolerance',
  'Global Creativity Index'],
 ['1', 'Australia', '7', '1', '4', '0.97'],
 ['2', 'United States', '4', '3', '11', '0.95'],
 ['3', 'New Zealand', '7', '8', '3', '0.949'],
 ['4', 'Canada', '13', '14', '1', '0.92']]

In [9]:
col_names=elementos[0]

data=elementos[1:]

education=pd.DataFrame(data, columns=['Rank', 'Country', 'Technology', 'Talent', 'Tolerance',
       'Global_Creativity_Index'])

education.head(5)

  Rank        Country Technology Talent Tolerance Global_Creativity_Index
0    1      Australia          7      1         4                    0.97
1    2  United States          4      3        11                    0.95
2    3    New Zealand          7      8         3                   0.949
3    4         Canada         13     14         1                    0.92
4    5        Denmark         10      6        13                   0.917

In [42]:
education.to_csv("education.csv", index = False)

### ECONOMY (GDP)

I find the GDP of 4 years distributed on the last 50 years to make the avareage and obtain a value closer to the reality of these years. I have chosen these years; 1980, 1999, 2010 and 2020.

Año 1980

In [10]:
url = 'https://countryeconomy.com/gdp?year=1980'

In [11]:
html=req.get(url).content

In [12]:
soup=bs(html, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [13]:
tabla=soup.find('table')

type(tabla)

bs4.element.Tag

In [14]:
filas=tabla.find_all('tr')

elementos=[[e.text.replace("\xa0M€", "").replace("\xa0M$", "").replace("[+]", "").strip() for e in fila] for fila in filas]

elementos[:5]

[['Countries', 'Date', 'Annual GDP', 'Annual GDP', 'GDP Growth (%)'],
 ['United States', '1980', '', '', '$2,857,300M', '', '-0.3%', ''],
 ['Euro zone', '1980', '', '', '$2,962,181M', '', '', ''],
 ['United Kingdom', '1980', '€406,184M', '', '$603,983M', '', '-2.0%', ''],
 ['Germany', '1980', '€610,968M', '', '$853,705M', '', '1.4%', '']]

In [15]:
gdp_80=[]


for e in elementos:
    tmp=[]

    for st in e:
        if st!='':
            tmp.append(st)
    gdp_80.append(tmp)
    
gdp_80[:5]

[['Countries', 'Date', 'Annual GDP', 'Annual GDP', 'GDP Growth (%)'],
 ['United States', '1980', '$2,857,300M', '-0.3%'],
 ['Euro zone', '1980', '$2,962,181M'],
 ['United Kingdom', '1980', '€406,184M', '$603,983M', '-2.0%'],
 ['Germany', '1980', '€610,968M', '$853,705M', '1.4%']]

In [16]:
columnas = ['Country', 'Date', 'AnnualGDP', 'AnnualGDP', 'GDP _Growth_percentage']

In [18]:
col_names=gdp_80[0]

data=gdp_80[1:]

df_80=pd.DataFrame(data, columns=columnas)

df_80.head(5)

          Country  Date    AnnualGDP  AnnualGDP GDP _Growth_percentage
0   United States  1980  $2,857,300M      -0.3%                   None
1       Euro zone  1980  $2,962,181M       None                   None
2  United Kingdom  1980    €406,184M  $603,983M                  -2.0%
3         Germany  1980    €610,968M  $853,705M                   1.4%
4          France  1980    €504,931M  $701,305M                   1.6%

In [43]:
df_80.to_csv("df_80.csv", index = False)

Año 1999

In [20]:
url = 'https://countryeconomy.com/gdp?year=1999'

In [21]:
html=req.get(url).content

In [22]:
soup=bs(html, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [23]:
tabla=soup.find('table')

type(tabla)

bs4.element.Tag

In [24]:
filas=tabla.find_all('tr')

elementos=[[e.text.replace("\xa0M€", "").replace("\xa0M$", "").replace("[+]", "").strip() for e in fila] for fila in filas]

elementos[:5]

[['Countries', 'Date', 'Annual GDP', 'Annual GDP', 'GDP Growth (%)'],
 ['United States', '1999', '€9,036,592M', '', '$9,631,200M', '', '4.8%', ''],
 ['Euro zone', '1999', '€6,456,826M', '', '$7,113,797M', '', '2.9%', ''],
 ['United Kingdom', '1999', '€1,578,395M', '', '$1,682,590M', '', '3.3%', ''],
 ['Germany', '1999', '€2,059,480M', '', '$2,197,130M', '', '1.9%', '']]

In [25]:
gdp_99=[]


for e in elementos:
    tmp=[]

    for st in e:
        if st!='':
            tmp.append(st)
    gdp_99.append(tmp)
    
gdp_99[:5]

[['Countries', 'Date', 'Annual GDP', 'Annual GDP', 'GDP Growth (%)'],
 ['United States', '1999', '€9,036,592M', '$9,631,200M', '4.8%'],
 ['Euro zone', '1999', '€6,456,826M', '$7,113,797M', '2.9%'],
 ['United Kingdom', '1999', '€1,578,395M', '$1,682,590M', '3.3%'],
 ['Germany', '1999', '€2,059,480M', '$2,197,130M', '1.9%']]

In [27]:
col_names=gdp_99[0]

data=gdp_99[1:]

df_99=pd.DataFrame(data, columns=columnas)

df_99.head(3)

          Country  Date    AnnualGDP    AnnualGDP GDP _Growth_percentage
0   United States  1999  €9,036,592M  $9,631,200M                   4.8%
1       Euro zone  1999  €6,456,826M  $7,113,797M                   2.9%
2  United Kingdom  1999  €1,578,395M  $1,682,590M                   3.3%

In [44]:
df_99.to_csv("df_99.csv", index = False)

Año 2010

In [28]:
url = 'https://countryeconomy.com/gdp?year=2010'

In [29]:
html=req.get(url).content

In [30]:
soup=bs(html, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [31]:
tabla=soup.find('table')

type(tabla)

bs4.element.Tag

In [32]:
filas=tabla.find_all('tr')

elementos=[[e.text.replace("\xa0M€", "").replace("\xa0M$", "").replace("[+]", "").strip() for e in fila] for fila in filas]

elementos[:5]

[['Countries', 'Date', 'Annual GDP', 'Annual GDP', 'GDP Growth (%)'],
 ['United States', '2010', '€11,351,739M', '', '$15,049,000M', '', '2.7%', ''],
 ['Euro zone', '2010', '€9,472,472M', '', '$12,629,070M', '', '2.2%', ''],
 ['United Kingdom', '2010', '€1,872,176M', '', '$2,484,020M', '', '2.1%', ''],
 ['Germany', '2010', '€2,564,400M', '', '$3,402,440M', '', '4.2%', '']]

In [33]:
gdp_10=[]


for e in elementos:
    tmp=[]

    for st in e:
        if st!='':
            tmp.append(st)
    gdp_10.append(tmp)
    
gdp_10[:5]

[['Countries', 'Date', 'Annual GDP', 'Annual GDP', 'GDP Growth (%)'],
 ['United States', '2010', '€11,351,739M', '$15,049,000M', '2.7%'],
 ['Euro zone', '2010', '€9,472,472M', '$12,629,070M', '2.2%'],
 ['United Kingdom', '2010', '€1,872,176M', '$2,484,020M', '2.1%'],
 ['Germany', '2010', '€2,564,400M', '$3,402,440M', '4.2%']]

In [34]:
col_names=gdp_10[0]

data=gdp_10[1:]

df_10=pd.DataFrame(data, columns=columnas)

df_10.head(3)

          Country  Date     AnnualGDP     AnnualGDP GDP _Growth_percentage
0   United States  2010  €11,351,739M  $15,049,000M                   2.7%
1       Euro zone  2010   €9,472,472M  $12,629,070M                   2.2%
2  United Kingdom  2010   €1,872,176M   $2,484,020M                   2.1%

In [45]:
df_10.to_csv("df_10.csv", index = False)

Año 2020

In [35]:
url='https://countryeconomy.com/gdp?year=2020'

In [36]:
html=req.get(url).content

In [37]:
soup=bs(html, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [38]:
tabla=soup.find('table')

type(tabla)

bs4.element.Tag

In [39]:
filas=tabla.find_all('tr')

elementos=[[e.text.replace("\xa0M€", "").replace("\xa0M$", "").replace("[+]", "").strip() for e in fila] for fila in filas]

elementos[5]

['France', '2020', '€2,302,860M', '', '$2,624,420M', '', '-7.9%', '']

In [40]:
gdp_20=[]


for e in elementos:
    tmp=[]

    for st in e:
        if st!='':
            tmp.append(st)
    gdp_20.append(tmp)
    
gdp_20[:5]

[['Countries', 'Date', 'Annual GDP', 'Annual GDP', 'GDP Growth (%)'],
 ['United States', '2020', '€18,292,506M', '$20,893,700M', '-3.4%'],
 ['Euro zone', '2020', '€11,400,271M', '$13,021,206M', '-6.4%'],
 ['United Kingdom', '2020', '€2,423,371M', '$2,709,680M', '-9.7%'],
 ['Germany', '2020', '€3,367,560M', '$3,843,340M', '-4.6%']]

In [41]:
col_names=gdp_20[0]

data=gdp_20[1:]

df_20=pd.DataFrame(data, columns=columnas)

df_20.head(3)

          Country  Date     AnnualGDP     AnnualGDP GDP _Growth_percentage
0   United States  2020  €18,292,506M  $20,893,700M                  -3.4%
1       Euro zone  2020  €11,400,271M  $13,021,206M                  -6.4%
2  United Kingdom  2020   €2,423,371M   $2,709,680M                  -9.7%

In [46]:
df_20.to_csv("df_20.csv", index = False)